<!DOCTYPE html>
<html>
<head>
  <title>Photogram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1>Photo Details</h1>

<img src=<%=@photo%> width="800">

<p>Cueva de los Verdes</p>

</body>
</html>
